{% extends 'base.html' %}
{% block content %}
<div class="col-lg-4 mx-auto shadow p-0 pt-4">
<div class="alert alert-info">
  <h2>APPLY FOR CERTIFICATE</h2>
</div>
<div class="p-4">
  <form action="/apply/" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <hr>

  <h3>Apply for certificate</h3>
    <input type="submit" value="APPLY" class="btn btn-info" id="apply">
  </form>
  <br><br>
  <div>
    <div><form action="" method="POST">
          {% csrf_token %}
      <table class="table table-striped">
         <thead>
    <tr>
      <th scope="col" class="table-info">Date Applied</th>
      <th scope="col" class="table-info">Verified</th>
      <th scope="col" class="table-info">Doctor Name</th>
      <th scope="col" class="table-info">Hospital Name</th>
      <th scope="col" class="table-info">Remark</th>
    </tr>
  </thead>
  <tbody>

  <h3>Applied certificates status</h3>
  {% for name in name %}
    <tr>
      <td>{{name.date}}</td>
       {% if not name.isverified %}
      <td>No</td>
      {%endif%}
      {% if name.isverified %}
      <td>Yes</td>
      {%endif%}
      <td>{{name.doctorName}}</td>
      <td>{{name.hospitalName}}</td>
      {% if not name.isverified  %}
      <td><input type="submit" value="in Progress" class="btn btn-info"  disabled></td>
      {%endif%}
      {% if name.isverified %}
      <td> <input type="submit" value="You may download" class="btn btn-info" disabled ></td>
      {%endif%}

    </tr>
  {% endfor %}
  </tbody>
      </table>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}