{% extends 'base.html' %}
{% block content %}
   <center>
       <h1 class="mx-4 my-4">Countering Fake Medical Certificates</h1>
       <p>
           Asking for a medical certificate is the most common practice among organizations when employees avail their medical leaves. However, some employees can use counterfeited health certificates; some may even get fake ones from the widely available online doctors. Therefore, it is difficult for organizations to distinguish between genuine and fake medical certificates. So, organizations need to find a fool-proof solution to identify fake medical certificates for making informed decisions.
       </p>
   </center>






    



  
{% endblock %}